body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.heading{
    background-color: aquamarine;
    color: orange;
    margin-bottom:50px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container {
    text-align: center;
    background: yellow;
    padding: 150px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.rollButton {
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color:green;
    color: white;
    transition: background 0.3s;
    margin-left: 20px;
}

button:hover {
    background-color: #0056b3;
}

.resetButton{
    padding: 10px 30px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color:orchid;
    color: white;
    transition: background 0.3s;
    margin-left: 20px;
}

.result {
    margin-top: 20px;
    font-size: 24px;
    color:blueviolet;
}
